{% extends "auctions/layout.html" %}


{% block body %}

    <h2>Create Listing</h2>

    <form action="{% url 'createlisting' %}" method="POST">
        {% csrf_token %}
        <h6>Title of listing</h6>
        {{ listing_form.title }}
        <br>

        <h6>Listing description </h6>
        {{ listing_form.description }}
        <br>

        <h6>Listing Price</h6>
        {{ listing_form.BidPrice }}
        <br>

        <h6>Listing Image</h6>
        {{ listing_form.image_url }}
        <br> <br>
        <input type="submit" class="btn btn-primary">
    </form>



{% endblock %}